<%= form_for(@inc_sales_revenue_net) do |f| %>
  <% if @inc_sales_revenue_net.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@inc_sales_revenue_net.errors.count, "error") %> prohibited this inc_sales_revenue_net from being saved:</h2>
    <ul>
    <% @inc_sales_revenue_net.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
