<p class="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @inc_sales_revenue_net.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @inc_sales_revenue_net.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @inc_sales_revenue_net.end_date %>
</p>


<%= link_to 'Edit', edit_inc_sales_revenue_net_path(@inc_sales_revenue_net) %> |
<%= link_to 'Back', inc_sales_revenue_nets_path %>
