<p class="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @incincome_loss_from_continuing_operations_before_income_tax.company_id %>
</p>

<p>
  <b>Value:</b>
  <%= @incincome_loss_from_continuing_operations_before_income_tax.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @incincome_loss_from_continuing_operations_before_income_tax.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @incincome_loss_from_continuing_operations_before_income_tax.end_date %>
</p>


<%= link_to 'Edit', edit_incincome_loss_from_continuing_operations_before_income_tax_path(@incincome_loss_from_continuing_operations_before_income_tax) %> |
<%= link_to 'Back', incincome_loss_from_continuing_operations_before_income_taxes_path %>
