<p class="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @inc_income_loss_from_continuing_operations_before_income_taxis.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @inc_income_loss_from_continuing_operations_before_income_taxis.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @inc_income_loss_from_continuing_operations_before_income_taxis.end_date %>
</p>


<%= link_to 'Edit', edit_inc_income_loss_from_continuing_operations_before_income_taxis_path(@inc_income_loss_from_continuing_operations_before_income_taxis) %> |
<%= link_to 'Back', inc_income_loss_from_continuing_operations_before_income_taxes_path %>
