<h1>Listing nibts</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nibts.each do |nibt| %>
  <tr>
    <td><%= nibt.company_id %></td>
    <td><%= nibt.value %></td>
    <td><%= link_to 'Show', nibt %></td>
    <td><%= link_to 'Edit', edit_nibt_path(nibt) %></td>
    <td><%= link_to 'Destroy', nibt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nibt', new_nibt_path %>
