<h1>Listing net_incomes</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @net_incomes.each do |net_income| %>
  <tr>
    <td><%= net_income.company_id %></td>
    <td><%= net_income.value %></td>
    <td><%= link_to 'Show', net_income %></td>
    <td><%= link_to 'Edit', edit_net_income_path(net_income) %></td>
    <td><%= link_to 'Destroy', net_income, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Net income', new_net_income_path %>
