<%= form_for(@deiei) do |f| %>
  <% if @deiei.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@deiei.errors.count, "error") %> prohibited this deiei from being saved:</h2>
    <ul>
    <% @deiei.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
