<h1>Listing deieis</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deieis.each do |deiei| %>
  <tr>
    <td><%= deiei.company_id %></td>
    <td><%= deiei.value %></td>
    <td><%= link_to 'Show', deiei %></td>
    <td><%= link_to 'Edit', edit_deiei_path(deiei) %></td>
    <td><%= link_to 'Destroy', deiei, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deiei', new_deiei_path %>
