<p class="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @deiei.company_id %>
</p>

<p>
  <b>Value:</b>
  <%= @deiei.value %>
</p>


<%= link_to 'Edit', edit_deiei_path(@deiei) %> |
<%= link_to 'Back', deieis_path %>
