<h1>Listing inc_gross_profits</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inc_gross_profits.each do |inc_gross_profit| %>
  <tr>
    <td><%= inc_gross_profit.value %></td>
    <td><%= inc_gross_profit.start_date %></td>
    <td><%= inc_gross_profit.end_date %></td>
    <td><%= link_to 'Show', inc_gross_profit %></td>
    <td><%= link_to 'Edit', edit_inc_gross_profit_path(inc_gross_profit) %></td>
    <td><%= link_to 'Destroy', inc_gross_profit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inc gross profit', new_inc_gross_profit_path %>
