<h1>Listing beeeis</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beeeis.each do |beeei| %>
  <tr>
    <td><%= beeei.company_id %></td>
    <td><%= beeei.value %></td>
    <td><%= link_to 'Show', beeei %></td>
    <td><%= link_to 'Edit', edit_beeei_path(beeei) %></td>
    <td><%= link_to 'Destroy', beeei, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beeei', new_beeei_path %>
