<p class="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @inc_net_income_loss.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @inc_net_income_loss.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @inc_net_income_loss.end_date %>
</p>


<%= link_to 'Edit', edit_inc_net_income_loss_path(@inc_net_income_loss) %> |
<%= link_to 'Back', inc_net_income_losses_path %>
