<p class="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @inc_net_income.company_id %>
</p>

<p>
  <b>Value:</b>
  <%= @inc_net_income.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @inc_net_income.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @inc_net_income.end_date %>
</p>


<%= link_to 'Edit', edit_inc_net_income_path(@inc_net_income) %> |
<%= link_to 'Back', inc_net_incomes_path %>
