<h1>Listing toes</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @toes.each do |toe| %>
  <tr>
    <td><%= toe.company_id %></td>
    <td><%= toe.value %></td>
    <td><%= link_to 'Show', toe %></td>
    <td><%= link_to 'Edit', edit_toe_path(toe) %></td>
    <td><%= link_to 'Destroy', toe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Toe', new_toe_path %>
