<p class="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @cf_net_cash_provided_by_used_in_operating_activity.company_id %>
</p>

<p>
  <b>Value:</b>
  <%= @cf_net_cash_provided_by_used_in_operating_activity.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @cf_net_cash_provided_by_used_in_operating_activity.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @cf_net_cash_provided_by_used_in_operating_activity.end_date %>
</p>


<%= link_to 'Edit', edit_cf_net_cash_provided_by_used_in_operating_activity_path(@cf_net_cash_provided_by_used_in_operating_activity) %> |
<%= link_to 'Back', cf_net_cash_provided_by_used_in_operating_activities_path %>
