<h1>Listing revenues</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @revenues.each do |revenue| %>
  <tr>
    <td><%= revenue.company_id %></td>
    <td><%= revenue.value %></td>
    <td><%= link_to 'Show', revenue %></td>
    <td><%= link_to 'Edit', edit_revenue_path(revenue) %></td>
    <td><%= link_to 'Destroy', revenue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Revenue', new_revenue_path %>
