<p class="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @bal_liabilities_current.company_id %>
</p>

<p>
  <b>Value:</b>
  <%= @bal_liabilities_current.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @bal_liabilities_current.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @bal_liabilities_current.end_date %>
</p>


<%= link_to 'Edit', edit_bal_liabilities_current_path(@bal_liabilities_current) %> |
<%= link_to 'Back', bal_liabilities_currents_path %>
